<footer>
  <div class="container">
    <div class="text">
      <h4>About</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quaerat ipsum molestias saepe neque velit sed sapiente atque tempora sit porro facere nihil deserunt magni odit, necessitatibus animi soluta reprehenderit?</p>
    </div>
    <ul>
      <li><h4>bbbbbb</h4></li>
      <li>aaaaa</li>
      <li>aaaaa</li>
      <li>aaaaa</li>
    </ul>
    <ul>
      <li><h4>bbbbbb</h4></li>
      <li>aaaaa</li>
      <li>aaaaa</li>
      <li>aaaaa</li>
    </ul>
  </div>
</footer>
