<footer>
  <div class="container">
    <div class="text">
      <h4>Sobre</h4>
      <p>Sou um estudante apaixonado por desenvolvimento Web e por tecnologia em geral! Espero que tenha gostado do meu Blog</p>
    </div>
    <ul>
      <li><h4>Contato</h4></li>
      <li><i class="fa-solid fa-envelope"></i>email: brunoemanoel.l.x&#64;gmail.com</li>
      <a href="https://www.linkedin.com/in/bruno-emanoel-912625275/">
        <li><i class="fa-brands fa-linkedin"></i>linkedin: Bruno Emanoel</li>
      </a>
      <a href="https://github.com/Bruno-Emanoel">
        <li><i class="fa-brands fa-github"></i>github: Bruno-Emanoel</li>
      </a>
    </ul>
  </div>
</footer>
