<main>
  <header-bar></header-bar>
  <page-title></page-title>
  <content-bar></content-bar>
  <hr>
  <section class="container">
    <big-card class="teste" imgLink="../assets/Gyro-image.jpg"></big-card>
    <div class="container cards">
      <small-card></small-card>
      <small-card></small-card>
      <small-card></small-card>
      <small-card></small-card>
      <small-card></small-card>
      <small-card></small-card>
      <small-card></small-card>
      <small-card></small-card>
    </div>
  </section>
  <footer-card></footer-card>
</main>
